<b>
<% if @child.errors.any? %>
    <% @child.errors.full_messages.each do |msg| %>
        <%= msg %> <br>
    <% end %>
<% end %>
</b>

<h2> Adopt to Your Child! </h2>

<%= form_tag user_children_path do %>
    <label> First Name: </label>
    <%= text_field_tag :first_name %><br>
    <label> Last Name: </label>
    <%= text_field_tag :last_name %><br>
       <br>    

<%= submit_tag "Adopt A Child" %>
<% end %>
    <br>

