<h2> <%= @child.full_name %> </h2>


<b> Season: <%= @child.season %><br> </b>
<ul>

Age: <%= @child.age_i %><br>
<br>
Gender: <%= @child.gender %><br>
<br>
Happiness: <%= number_with_precision(@child.happiness, precision: 2)  %><br>
Ambition: <%= number_with_precision(@child.ambition, precision: 2) %><br>
<br>
Language: <%= number_with_precision(@child.language, precision: 2) %><br>
Mathematic: <%= number_with_precision(@child.mathematic, precision: 2) %><br>
Coding: <%= number_with_precision(@child.coding, precision: 2) %><br>
Art: <%= number_with_precision(@child.art, precision: 2) %><br>
<br>
Job: <%= @child.job.title %><br><br>
</ul>
