<h2> Create New User </h2>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

Username must be unique.
Password must be between 4 to 20 characters.
<br><br>
<%= form_for @user do |f| %>
    <label><b> Username: </label>
    <%= f.text_field :username %><br>
    <label> Password: </label>
    <%= f.text_field :password %><br>
    <label> Password confirmation: </label>
    <%= f.text_field :password, confirmation: true %><br> </b><br><br>
    <%= f.submit "Become a New Parent" %>
<% end %>
<br><br>
